@media all and (-ms-high-contrast:none) .hebrew {
    direction: rtl;
}

*::-ms-backdrop,
.hebrew {
    direction: rtl;
}

strong {
    font-family: Arial;
}
/* IE10 */

*::-ms-backdrop,
strong {
    font-family: Arial;
}
/* IE11 */

.modal-body h3 {
    color: #792b67;
}

/* Underlined Form */
input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px dotted #792b67;
    padding-bottom: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar {
    background: #ffb866;
    font-size: 20px;
}

.form-group label {
    font-family: Arial;
    font-weight: normal !important;
    color: #792b67;
}

.modal-footer button {
    background:#792b67;
    padding: 25px;
    border-radius: 0;
    color: white;
}

.modal-footer button:hover {
    background:#ffb866;
}

.modal-body th {
    color:#792b67;
}

#exampleModal { 
    caret-color: transparent;
}